<!DOCTYPE html>
<html>

<head>
  <title>MAKERS BNB</title>
</head>

<body>
  Welcome to Makers BNB

  are you a landlord?
  <form>
  <button formaction="/landlord-signup">Sign up!</button>
  </form>
  or
  <form>
  <button formaction="/landlord-login">Log in</button>
  </form>

  or tenant?
  <form>
  <button formaction="/tenant-signup">Sign up!</button>
  </form>
  or
  <form>
  <button formaction="/tenant-login">Log in</button>
  </form>

</body>
