<!DOCTYPE html>
<html>

<head>
  <title>MAKERS BNB</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

  <body>
    <div class="container">

      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Welcome to Makers BNB</h1>

        <p>Login or Register:</p>

        <a href="/tenant/tenant-login" class="btn btn-default"><span class="fa fa-user"></span>Tenant Login</a>
        <a href="/tenant/tenant-signup" class="btn btn-default"><span class="fa fa-user"></span>Tenant Signup</a>
        <a href="/landlord/landlord-login" class="btn btn-default"><span class="fa fa-user"></span>Landlord Login</a>
        <a href="/landlord/landlord-signup" class="btn btn-default"><span class="fa fa-user"></span>Landlord Signup</a>
      </div>

    </div>
  </body>

  </html>
