<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>

<body>
  May Node and Express be with you.

  <ul class="landlord">
    <% for(var i=0; i<landlord.length; i++) {%>
      <li class="landlord">
        <span><%= landlord[i].name %></span>
        <span><%= landlord[i].propertyname %></span>
      </li>
      <% } %>
  </ul>
  <form action="/landlord" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="propertyname" name="propertyname">
    <button type="submit">Submit</button>
  </form>
</body>

</html>
