<h2>Log in to MakersBnB</h2>
  <form method="get" action="/view-properties">
    <ul>
      <li><label for='emailAddress'>Email Address</label>
        <input id='emailAddress' type='text' name='emailAddress' placeholder='email...' required></li>
      <li><label for='password'>Password</label>
        <input id='password' type='text' name='password' placeholder='password...' required></li>
    <input type='submit' value='Login in'>
  </form>
