<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>LANDLORD NEW PROPERTY LISTING</title>
</head>

<body>
  List your property:
  <form action="/new-properties" method="POST">
    <input type="text" placeholder="owner's name" name="name">
    <input type="text" placeholder="property name" name="propertyname">
    <input type="text" placeholder="property decription" name="propertydescription">
    <input type="text" placeholder="price per night" name="ppn">
    <input type="text" placeholder="available from" name="from">
    <input type="text" placeholder="available until" name="until">
    <button type="submit">List this space!</button>
  </form>
</body>

</html>
