<h2>Post a property</h2>
  <form method="get" action="/view-properties">
    <ul>
      <li><label for='property'>New Property</label>
        <input id='property' type='text' name='property' placeholder='property...' required></li>
    <input type='submit' value='Add property'>
  </form>
