<h1>Feel at home, anywhere</h1>
<h2>Sign up to MakersBnB</h2>
  <form method="POST" action="/tenant-signup">
    <ul>
      <li><label for='emailAddress'>Email Address</label>
        <input id='emailAddress' type='text' name='emailAddress' placeholder='email...' required></li>
      <li><label for='password'>Password</label>
        <input id='password' type='text' name='password' placeholder='password...' required></li>
        <li><label for='confirmPassword'>Confirm Password</label>
          <input id='confirmPassword' type='text' name='confirmPassword' placeholder='re-enter password...' required></li>
    </ul>
    <input type='submit' value='Sign Up'>
  </form>
