<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
  <meta charset="UTF-8">
  <title>LANDLORD NEW PROPERTY LISTING</title>
</head>

<body>
  List your property:
  <form action="/new-property" method="POST">
    <input type="text" placeholder="owner's name" name="name" required>
    <input type="text" placeholder="property name" name="propertyname" required>
    <input type="text" placeholder="property decription" name="propertydescription" required>
    <input type="text" placeholder="price per night" name="ppn" required>
    <input type="text" placeholder="available from" name="from" required>
    <input type="text" placeholder="available until" name="until" required>
    <div id="datepicker"></div>
    <button type="submit">List this space!</button>
  </form>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<script>
  $(document).ready(function() {      //waits for page to load first
    $('#datepicker').datepicker({});
  });
</script>

</html>
