<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>LANDLORD NEW PROPERTY LISTING</title>
</head>

<body>
  List your property:
  <form action="/new-property" method="POST">
    <input type="text" placeholder="owner's name" name="name" required>
    <input type="text" placeholder="property name" name="propertyname" required>
    <input type="text" placeholder="property decription" name="propertydescription" required>
    <input type="text" placeholder="price per night" name="ppn" required>
    <input type="text" placeholder="available from" name="from" required>
    <input type="text" placeholder="available until" name="until" required>
    <button type="submit">List this space!</button>
  </form>

</body
</html>
